server:
  port: 8080

#   context-path: /api
logging:
  level:
    root: info
    com.cmpe226.cafe: debug
  file: logs/debug.log
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://34.213.96.231:3306/cafe?useLegacyDatetimeCode=false&serverTimezone = PST8PDT&autoreconnect = true"
    username: "remoteUser"
    password: "19911223"
    testOnBorrow: true
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 30000
    validationQuery: SELECT 1
    max-active: 15
    max-idle: 10
    max-wait: 8000

    jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    use-new-id-generator-mappings: false
    dialect: MySQLDialect


  jpa:
    properties:
      hibernate:
        id:
          new_generator_mappings=false:

